name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 */12 * * *"  # every 12 hours
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install github-readme-stats
        run: |
          npm init -y
          npm install github-readme-stats

      - name: Generate GitHub Stats
        run: |
          npx github-readme-stats --username SMOZHIVARMAN --output assets/github-stats.svg --theme github_dark --show-icons

      - name: Commit files
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add assets/github-stats.svg
          git commit -m "update github stats" || exit 0
          git push
